.au-main-nav.au-main-nav--dark {
  background-color: #0A1931;
  border-color: #F36C52;
}

.au-main-nav.au-main-nav--dark .au-main-nav__menu {
  background-color: #0A1931;
}

.au-main-nav.au-main-nav--dark a, .au-main-nav.au-main-nav--dark .au-main-nav__toggle {
  color: #9EE8FF;
}

.au-main-nav.au-main-nav--dark a::-moz-focus-inner, .au-main-nav.au-main-nav--dark .au-main-nav__toggle::-moz-focus-inner {
  border: 0
}

.au-main-nav.au-main-nav--dark a:hover, .au-main-nav.au-main-nav--dark .au-main-nav__toggle:hover {
  background-color: #0A1931;
}

.au-main-nav.au-main-nav--dark .active a {
  border-color: #0A1931;
}

.au-main-nav.au-main-nav--dark .active a:hover {
  border-color: #0A1931;
}

.au-main-nav.au-main-nav--dark .au-link-list > li {
  border-color: #89afb8
}
